body {
  font-family: "Itim";
}

/* Header section */

header {
  height: 150px;
}

#Intro {
  text-align: right;
  float: right;
  width: 70%;
  position: relative;
  right: 70px;
  color: #2d3c49;
}

#Intro .name {
  margin-bottom: 0;
  font-size: 72px;
}

#Intro .title {
  margin-top: 0;
  font-size: 22px;
}

.logo {
  /* border: 1px solid; */
  float: left;
  height: 70px;
  width: 80px;
  position: relative;
  left: 60px;
  top: 20px;
}

/* Body Content Featured Post*/

.main {
  position: relative;
} 

#topBorder {
  border-top: 5px solid;
  position: absolute;
  width: 1010px;
  position: absolute;
  left: 60px;
}

.picture {
  padding: 25px;
  left: 40px; 
  position: relative;
  margin: 10px 
}

/* Body Content Featured Work */
.featured-work h2 {
  font-size: 45px;
  position: relative;
  left: 70px;
  color: #7d97ad;
}


